@charset "utf-8";

.navbar-header {
	position:relative;
}
.navbar-default {
	background-color: white;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border-color: white;
    margin: 20px;
} 
.show{
    display : block;
}
.hide{
    display : hide;
}
.menu-box{
    position:absolute;
	right:0; top:0; 
    width:500px; height:40px; 
}
.menubar{
    width : 700px;
    height : 40px;
    margin : 0 auto;
}
.menu li a{
    color: black !important;
    height:50px; 
}
.menu li a:hover, .menu li.active a{
    background-color : white !important;
}
#gnb {
	display:inline;
	position:absolute; 
	right:180px; top:0
}
.portpolio_pic{
    margin-bottom : 30px;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}