{Context::addHtmlHeader('<meta name="viewport" content="width=device-width, user-scalable=yes">')}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<load target="css/bootstrap.min.css" />
<load target="js/jquery-1.11.3.min.js" />
<load target="js/bootstrap.min.js" />

<load target="js/xe_official.js" />
<load target="js/overpol.js" />
<load target="css/default.css" />

<block cond="$layout_info->content_fixed_width === 'index'">
	{@ $layout_info->content_fixed_width = (!$_is_indexmodule) ? 'Y' : 'N';}
</block>
<block cond="$layout_info->content_fixed_width === 'Y'">
	{@ $_body_class[] = 'fixed-width'}
</block>
<!--// 회원, 커뮤니케이션 모듈 등 페이지에서 콘텐츠 영역 폭 고정 -->
{@ $_fixed_width_act = array( 
	'dispMemberSignUpForm', 
	'dispMemberLoginForm', 
	'dispMemberFindAccount', 
	'dispMemberInfo', 
	'dispMemberModifyPassword',
	'dispMemberModifyEmailAddress', 
	'dispMemberModifyInfo', 
	'dispMemberLeave', 
	'dispMemberScrappedDocument', 
	'dispMemberSavedDocument',
	'dispMemberOwnDocument', 
	'dispCommunicationFriend', 
	'dispCommunicationMessages', 
	'dispNcenterliteUserConfig', 
	'dispNcenterliteNotifyList',
	'dispLoginxeclientListProvider', 
	'dispAjaxboardNotificationConfig', 
	'IS' 
)}
<block cond="in_array($act, $_fixed_width_act)">
	{@ $_body_class[] = 'fixed-width'} 
	{@ $layout_info->sidebar_position = 'none'} 
	{@ $sub_header_title = 'Membership'} 
	{@ $layout_info->use_demo = 'N'}
	<block cond="$act === 'IS'">
		{@ $sub_header_title = 'Search'}
	</block>
</block>

<block cond="$layout_info->menu_fixed === 'Y'">
	{@ $_container_class[] = 'fixed_header'}
</block>
<!--// BODY-->
<!-- HEADER -->
<div class="header_wrap xe-clearfix">
	<nav class="navbar navbar-default">
		<div class="container">
			<header class="header {$_visual_class}">
				<!--// LOGO -->
				<a href="<!--@if($layout_info->logo_url)-->{$layout_info->logo_url}<!--@else-->{getUrl('')}<!--@end-->">
					<div class="navbar-header logo">
						<img src="{$layout_info->logo_image}">
					</div>
				</a>
				<!--// END:LOGO -->
				<div class="menu-box">
					<div class="menu-login">
						<div cond="$logged_info->is_admin == 'Y'">
							<a href="{getUrl('', 'module', 'admin')}" target="_blank" title="{$lang->cmd_management}">
								<i class="xi-cog"></i>
								<span class="blind">{$lang->cmd_management}</span>
							</a>
						</div>
				
						<!--@if($is_logged)-->
						<a href="{getUrl('act','disMemberInfo')}" class="login_after">
							{$logged_info->nick_name}
						</a>
						<a href="{getUrl('act', 'dispMemberLogout')}">{$lang->cmd_logout}</a>
						<!--@else-->
						<a href="{getUrl('act', 'dispMemberLoginForm')}" id="ly_btn">
							<i class="xi-user-add"></i>
							<span class="blind">SignIn / SignUp</span>
						</a>
						<!--@end-->
					</div>
					
					<!-- GNB -->
					<div id="gnb">
						<ul>
							<li loop="$main_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']">
								<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
								<ul cond="$val1['list']">
									<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']">
										<a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- /GNB -->
				</div>
			</header>
		</div>
	</nav>
</div>
<!-- END:HEADER -->

<!-- BODY -->
<div class="body {$_body_class">
	<!-- CONTENT -->
	<div class="container">
		<div class="row">
			<div class="content" id="content">
				{$content}
			</div>
		</div>
	</div>
	<!-- /CONTENT -->
</div>
<!-- END:BODY -->
<div class="footer">
	<p>
		<a href="http://xpressengine.com/" target="_blank">
		</a>
	</p>
</div>


<!-- Login widget -->
<section cond="$layout_info->use_login_widget != 'N'" class="login_widget" style="display:none" |cond="$XE_VALIDATOR_ID != 'layouts/xedition/layout/1' || !$XE_VALIDATOR_MESSAGE">
	<load target="./css/login.overpol.css" />
	<div class="ly_dimmed"></div>
	<div class="signin">
		<div id="loginbox">
			<div class="inside-form margin20">
				<h2 class="text-center">SIGN IN</h2>
				<form action="{getUrl('', 'act', 'procMemberLogin')}" class="form-horizontal" method="POST" role="form">
					<input type="hidden" name="act" value="procMemberLogin" />
					<input type="hidden" name="success_return_url" value="{getCurrentPageUrl()}" />
					<input type="hidden" name="xe_validator_id" value="layouts/xedition/layout/1" />
					<fieldset>
						<legend class="blind">{$lang->cmd_login}</legend>
						<div style="margin-top: 25px" class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user"></i>
							</span>
							<input type="text" name="user_id" id="uemail" class="form-control" required="true" placeholder="Email" />

						</div>
						<div style="margin-bottom: 5px" class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-lock"></i>
							</span>
							<input type="password" name="password" id="upw" class="form-control" required="true" placeholder="Password" />
						</div>
						<div cond="$XE_VALIDATOR_ID == 'layouts/xedition/layout/1' && $XE_VALIDATOR_MESSAGE" class="control-group">
							<p class="error">{$XE_VALIDATOR_MESSAGE}</p>
						</div>

						<div class="form-group">
							<div class="col-md-12 control">
								<a class="inside-linker" href="#">비밀번호를 잊었나요?</a>
							</div>
							<div class="col-md-12 control">
								<a class="inside-linker" href="#" onClick="$('#loginbox').hide(); $('#accountbox').show()">아이디가 없으신가요?</a>
							</div>
						</div>
						<!-- Button -->
						<div class="control-group text-center">
							<button type="submit" class="btn btn-round btn-lg btn-neutral btn_submit">{$lang->cmd_login}</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<!--가입 선택 -->
		<div id="accountbox" style="display:none;" class="mainbox">
			<form id="account" class="form-horizontal" method="POST" role="form">
				<div class="inside-form margin20">
					<h2 class="font_white text-center" style="margin-bottom : 25px">SIGN UP</h2>
					<div class="form-group">
						<div class="col-md-12 control">
							<a class="inside-linker" href="#" onClick="$('#accountbox').hide(); $('#loginbox').show()">로그인 하기</a>
						</div>
					</div>

					<div class="form-group" align="center">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<a href="{getUrl('act', 'dispMemberSignUpForm')}">
								<img src="./images/signup_norm.png" onClick="$('#accountbox').hide();">
							</a>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">
							<a href="{getUrl('act', 'dispMemberSignUpForm')}">
								<img src="./images/signup_corp.png" onClick="$('#accountbox').hide();">
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>

		<script>
			(function ($) {
				$(function () {
					var option = {
						changeMonth: true, changeYear: true, gotoCurrent: false, yearRange: '-100:+10', dateFormat: 'yy-mm-dd', onSelect: function () {

							$(this).prev('input[type="hidden"]').val(this.value.replace(/-/g, ""))
						}
					};
					$.extend(option, $.datepicker.regional['{$lang_type}']);
					$(".inputDate").datepicker(option);
					$(".dateRemover").click(function () {
						$(this).prevAll('input').val('');
						return false;
					});
				});
			})(jQuery);
		</script>
</section>
</div>
<!-- 기업 가입 -->
<div id="signupbox_corp" style="display:none;" class="mainbox">
	<form id="signup_corp" class="form-horizontal" method="POST" role="form">
		<div class="inside-form margin20">
			<h2 class="font_white text-center" style="margin-bottom : 25px">SIGN UP</h2>

			<div class="form-group">
				<div class="col-md-12 control">
					<a class="inside-linker" href="#" onClick="$('#signupbox_corp').hide(); $('#loginbox').show()">로그인 하기</a>
				</div>
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-envelope"></i>
				</span>
				<input type="text" class="email form-control" name="username" value="" placeholder="example@gmail.com">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
				<input type="password" class="password form-control" name="passwd" value="" maxlength="20" placeholder="********">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-user"></i>
				</span>
				<input type="text" class="name form-control" name="name" value="" maxlength="10" placeholder="홍길동">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-earphone"></i>
				</span>
				<input type="text" class="phonenumber form-control" name="phonenumber" value="" maxlength="13" placeholder="010-1234-5678">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-briefcase"></i>
				</span>
				<input type="text" class="corpname form-control" name="corpname" value="" placeholder="회사명">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-phone-alt"></i>
				</span>
				<input type="text" class="corpphonenumber form-control" name="corpphonenumber" value="" placeholder="회사전화번호">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-tasks"></i>
				</span>
				<input type="text" class="corppart form-control" name="corppart" value="" placeholder="부서">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-tag"></i>
				</span>
				<input type="text" class="corprank form-control" name="corprank" value="" placeholder="직급">
			</div>

			<div class="footer text-center">
				<a href="#" class="btn-signup btn btn-round btn-lg btn-neutral">가입하기</a>
			</div>
		</div>
	</form>
</div>
</div>
<script>
	jQuery(function ($) {
		var keep_msg = $("#warning");
		$(".chk_label").on("mouseenter mouseleave focusin focusout", function (e) {
			if (e.type == "mouseenter" || e.type == "focusin") {
				keep_msg.show();
			}
			else {
				keep_msg.hide();
			}
		});
		$("#ly_login_btn, #ly_btn").click(function () {
			$(".login_widget").show();
			return false;
		});
		$(".btn_ly_popup").click(function () {
			$(".login_widget").hide();
			return false;
		});
		$("input").blur(function () {
			var $this = $(this);
			if ($this.val()) {
				$this.addClass("used");
			}
			else {
				$this.removeClass("used");
			}
		});
	});
</script>
</section>
<!-- /Login widget -->